In [97]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [5]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2014_FIFA_World_Cup')

In [71]:
todas_tablas[12]

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0

In [88]:
for letra, i in zip(alfabeto, range(12, 68, 7)):
    print (letra, i)

A 12
B 19
C 26
D 33
E 40
F 47
G 54
H 61

In [89]:
todas_tablas = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_tablas = {}
for letra, i in zip(alfabeto, range(12, 68, 7)):
    df = todas_tablas[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letra}'] = df

In [4]:
dict_tablas['Grupo A']

NameError: name 'dict_tablas' is not defined

In [2]:
with open('dict_tablas', 'wb') as output:
    pickle.dump(dict_tablas, output)

NameError: name 'pickle' is not defined